/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --accent-color : #A59678
}

body{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

h1,h2{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin: 0;
}

h1{
    font-size: 4rem;
    line-height: 1;
}

img{
    max-width: 100%;
}

header{
    background-color: #2E323F;
    padding: 1rem 0;
    text-align: center;
}

section{
    padding: 3rem 0;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Navigation related css */
.nav-toggle{
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0;
    border-radius: 50%;
    background:  #3B4050;
    color: white;
    transition: opacity 250ms ease;

    position: absolute;
    left: 1rem;
}

.hamburger{
    width: 50%;
    position:relative;
}


.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}


.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav{
    font-style: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.nav__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav__list--secondary{
    margin-top: 2rem;
}

.nav__item{
    margin-top: 1rem;
}

.nav__link{
    color: #fff;
    text-decoration: none;
}

.nav__link--button{
    background-color: var(--accent-color);
    padding: 0.3rem 0.8rem;
    border-radius: 100px;
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible{
    visibility: visible;
    height: auto;
    position: relative;
}

/* section intro */
.intro{
    background-color: #3B4050;
    color: #fff;
}

.intro__heading--accent{
    color: var(--accent-color);
}

.intro__button{
    background-color: var(--accent-color);
    text-align: center;
    width: 80%;
    padding: 0.5rem 0.8rem;
    border-radius: 100px;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
}

.intro__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

/* section catalogue */

.catalogue{
    background-color: #e4e5ec;
    text-align: center;
}

.catalogue__item + .catalogue__item{
    margin-top: 2rem;
}

.catalogue__heading{
    font-size: 2rem;
    color: var(--accent-color);
}

.catalogue__text{
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

/* section summary */

.summary{
    font-size: 1.3rem;
}

.summary__title{
    color: var(--accent-color);
    font-size: 2.25rem;
}

.sub-catalogue{
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
}
.sub-catalogue__title{
    font-size: 1.9rem;
}

.sub-catalogue__title--hidden{
    visibility: hidden;
}

.sub-catalogue__item{
    background-color: #3B4050;
    padding: 2rem 0;
}

.sub-catalogue__container{
    width: 80%;
    margin: 0 auto;
}

.sub-catalogue__item + .sub-catalogue__item{
    margin-top: 1em;
}

/* references */

.references{
    background-color: #3B4050;
    color: #fff;
    font-size: 1rem;
}

.references__title{
    text-align: center;
    font-size: 2.5rem;
}
.references__list{
    padding: 2rem 0;
}

.footer + .footer {
    margin-top: 3rem;
}
.footer__title{
    margin: 0;
    font-size: 1.2rem;
    color: var(--accent-color);
}

.footer__list{
    list-style-type: none;
    padding: 0;
}

.footer__item + .footer__item{
    margin-top: 1rem;

}

.footer__link{
    text-decoration: none;
    color: #fff;
}

@media(min-width: 800px) {
    .row{
        display: flex;
        gap: 5rem;
    }

    .intro-flex{
        align-items: flex-end;
    }

    .intro__button{
        width: 50%;
    }    
    .catalogue__item + .catalogue__item{
        margin-top: 0;
    }

    .footer{
        width: 20%;
    }

    .footer__first{
        width: 40%;
    }

    .footer__item + .footer__item{
        margin-top: 0;
    
    }
    .footer + .footer {
        margin-top: 0;
    }

    .references__list{
        padding: 4rem 0;
    }

    .nav-toggle{
        visibility: hidden;
    }

    .nav{
        visibility: visible;
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav__list{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .nav__item{
        margin-top: 0;
    }

    .nav__list--secondary{
        margin-top: 0;
    }
}